<ion-view view-title="全部商品">
  <ion-content>
    <!--自适应屏幕-->
    <!--<script src="./js/public.js"></script>-->
    <link rel="stylesheet" href="./templates/shop/shop-css/shop-shouye.css">
    <div class="shop-nav">
      <a href="#/tab/chats/jingxun" class="">古琴</a>
      <a href="" class="">钢琴</a>
      <a href="" class="">提琴</a>
    </div>
    <div class="shop-banner">
      <a href="#">
        <img src="../img/qin1.jpg" alt="">
      </a>
    </div>
    <ion-nav-view name="tab-shop-jingxuan"></ion-nav-view>
    <!--<div class="shop-show">-->
      <!--<h3>精选商品</h3>-->
      <!--<div class="shop-til">-->
        <!--<h4>精美古琴</h4>-->
        <!--<div></div>-->
      <!--</div>-->
      <!--<div class="tab-content1">-->
        <!--<div class="tab-firstbox">-->
          <!--<div class="tab-left">-->
            <!--<a href="#"><img src="../img/qin.jpg" alt=""></a>-->
            <!--<div class="tab-right">-->
              <!--<div class="tab-rightheader">-->
                <!--精美古琴-->
              <!--</div>-->
              <!--<div class="tab-rightprice">-->
                <!--<span>￥8888</span>-->
                <!--<img src="../img/shopcar.jpg" alt="">-->
              <!--</div>-->
              <!--<div class="tab-rightshop">-->
                <!--<span>沉香琴苑</span>-->
                <!--<span>进店></span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="shop-til">-->
        <!--<h4>优质钢琴</h4>-->
        <!--<div></div>-->
      <!--</div>-->
      <!--<div class="tab-content1">-->
        <!--<div class="tab-firstbox">-->
          <!--<div class="tab-left">-->
            <!--<a href="#"><img src="../img/qin.jpg" alt=""></a>-->
            <!--<div class="tab-right">-->
              <!--<div class="tab-rightheader">-->
                <!--精美古琴-->
              <!--</div>-->
              <!--<div class="tab-rightprice">-->
                <!--<span>￥8888</span>-->
                <!--<img src="../img/shopcar.jpg" alt="">-->
              <!--</div>-->
              <!--<div class="tab-rightshop">-->
                <!--<span>沉香琴苑</span>-->
                <!--<span>进店></span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="shop-til">-->
        <!--<h4>优雅提琴</h4>-->
        <!--<div></div>-->
      <!--</div>-->
      <!--<div class="tab-content1">-->
        <!--<div class="tab-firstbox">-->
          <!--<div class="tab-left">-->
            <!--<a href="#"><img src="../img/qin.jpg" alt=""></a>-->
            <!--<div class="tab-right">-->
              <!--<div class="tab-rightheader">-->
                <!--精美古琴-->
              <!--</div>-->
              <!--<div class="tab-rightprice">-->
                <!--<span>￥8888</span>-->
                <!--<img src="../img/shopcar.jpg" alt="">-->
              <!--</div>-->
              <!--<div class="tab-rightshop">-->
                <!--<span>沉香琴苑</span>-->
                <!--<span>进店></span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </ion-content>
</ion-view>
