<ion-view view-title="个人中心">
  <ion-content>
    <ion-list>
        <div style="height:150px;background-color:#f60;opacity: 0.8;overflow: hidden;">
          <div><img src="./img/01.jpg" alt="" class="img-responsive img-circle col-xs-4 col-md-2"></div>
          <div class="text-center">
              <a href="">登录</a>/
              <a href="">注册</a>
            <div><a href="">忘记密码?</a></div>
          </div>
        </div>
    </ion-list>
    <ion-list>
      <div class="list">
        <label class="item item-input" >
          <span class="input-label" >用户名：</span>
          <input type="text" placeholder="请输入你的用户名">
        </label>
        <label class="item item-input">
          <span class="input-label">密码：</span>
          <input type="password" placeholder="请输入你的密码">
        </label>
      </div>
      <ul class="list-group">
        <li class="list-group-item glyphicon glyphicon-shopping-cart "><a href="#/tab/myshoppingcar/{{mysc}}">{{mysc}}</a><span class="badge" style="background-color:#f90;">42</span></li>
        <li class="list-group-item glyphicon glyphicon-time"><a href="#/tab/myhistory/{{myhis}}">{{myhis}}</a></li>
        <li class="list-group-item glyphicon glyphicon-cog"><a href="#/tab/myset/{{myset}}">{{myset}}</a></li>
        <li class="list-group-item glyphicon glyphicon-console"><a href="#/tab/aboutours/{{aboutours}}">{{aboutours}}</a></li>
        <li class="list-group-item glyphicon glyphicon-phone-alt"><a href="#/tab/serve/{{serve}}">{{serv}}</a></li>
        <li class="list-group-item glyphicon glyphicon-registration-mark"><a href="">{{assets}}</a><span class="badge"  style="background-color:#f90;">150</span></li>
      </ul>
    </ion-list>
  </ion-content>
</ion-view>
