<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 首页 -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- 社区 -->
  <ion-tab title="琴友社区" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/frients/hot">
    <ion-nav-view name="tab-frients"></ion-nav-view>
  </ion-tab>
  <!-- 商品 -->
  <ion-tab title="全部商品" icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad" href="#/tab/chats/jingxun">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- 我的 -->
  <ion-tab title="我的" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
