<ion-view view-title="" hide-back-button="true">
  <ion-nav-buttons side="left">
    <ul class="nav nav-pills">
      <li role="presentation" ><a href="#/tab/zhao"><span class="glyphicon glyphicon-search"></span></a></li>
      <li role="presentation" ><a href="#/tab/frients/hot">关注</a></li>
      <li role="presentation" class="active"><a href="#/tab/search">发现</a></li>
    </ul>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#/tab/end"><span class="glyphicon glyphicon-user"></span></a></li>
    </ul>
  </ion-nav-buttons>
  <ion-content>
    <div><a href="#/tab/frients/hot" class="btn btn-default btn-sm active">返回</a></div>

  </ion-content>


</ion-view>
