<ion-view view-title="" hide-back-button="true">
  <ion-nav-buttons side="left">
    <ul class="nav nav-pills">
      <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      <li class="active"><a href="#/tab/frients/hot">关注</a></li>
      <li><a href="#/tab/search/{{name}}">发现</a></li>
    </ul>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <ul class="nav nav-pills">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
    </ul>
  </ion-nav-buttons>
  <ion-content>
    story.html
  </ion-content>
</ion-view>
