<ion-view view-title="" hide-back-button="true">
  <ion-nav-buttons side="left">
    <ul class="nav nav-pills">
      <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      <li class="active"><a href="#/tab/frients/hot">关注</a></li>
      <li><a href="#/tab/search/{{name}}">发现</a></li>
    </ul>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <ul class="nav nav-pills">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
    </ul>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <h4>中国古琴</h4>
      <video src="http://www.youname.com/images/123456.mp4" style="width: 100%;height: 20%;" controls="controls"></video>
      <ion-item ng-repeat="p in products" href="#">

        <img ng-src="{{p.porster}}" style="width: 120px;height: 80px;vertical-align: bottom;" controls="controls">
        <div style="display: inline-block;">
          <h2>{{p.name}}</h2>
          <p>{{p.desc}}</p>
        </div>
      </ion-item>
    </ion-list>
    <ion-list>
      <h4>流行钢琴</h4>
      <video src="http://www.youname.com/images/123456.mp4" style="width: 100%;height: 20%;" controls="controls"></video>
      <ion-item ng-repeat="p in pdio" href="#">

        <img ng-src="{{p.porster}}" style="width: 120px;height: 80px;vertical-align: bottom;">
        <div style="display: inline-block;">
          <h2>{{p.name}}</h2>
          <p>{{p.desc}}</p>
        </div>
      </ion-item>
    </ion-list>
    <ion-list>
      <h4>小提琴</h4>
      <video src="http://www.youname.com/images/123456.mp4" style="width: 100%;height: 20%;" controls="controls"></video>
      <ion-item ng-repeat="p in head" href="#">

        <img ng-src="{{p.porster}}" style="width: 120px;height: 80px;vertical-align: bottom;">
        <div style="display: inline-block;">
          <h2>{{p.name}}</h2>
          <p>{{p.desc}}</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>


</ion-view>

