<div class="shop-show">
  <h3>精选商品</h3>
  <div class="shop-til">
    <h4>精美古琴</h4>
    <div></div>
  </div>
  <div class="tab-content1">
    <div class="tab-firstbox">
      <div class="tab-left">
        <a href="#"><img src="../img/qin.jpg" alt=""></a>
        <div class="tab-right">
          <div class="tab-rightheader">
            精美古琴
          </div>
          <div class="tab-rightprice">
            <span>￥8888</span>
            <img src="../img/shopcar.jpg" alt="">
          </div>
          <div class="tab-rightshop">
            <span>沉香琴苑</span>
            <span>进店></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-til">
    <h4>优质钢琴</h4>
    <div></div>
  </div>
  <div class="tab-content1">
    <div class="tab-firstbox">
      <div class="tab-left">
        <a href="#"><img src="../img/qin.jpg" alt=""></a>
        <div class="tab-right">
          <div class="tab-rightheader">
            精美古琴
          </div>
          <div class="tab-rightprice">
            <span>￥8888</span>
            <img src="../img/shopcar.jpg" alt="">
          </div>
          <div class="tab-rightshop">
            <span>沉香琴苑</span>
            <span>进店></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-til">
    <h4>优雅提琴</h4>
    <div></div>
  </div>
  <div class="tab-content1">
    <div class="tab-firstbox">
      <div class="tab-left">
        <a href="#"><img src="../img/qin.jpg" alt=""></a>
        <div class="tab-right">
          <div class="tab-rightheader">
            精美古琴
          </div>
          <div class="tab-rightprice">
            <span>￥8888</span>
            <img src="../img/shopcar.jpg" alt="">
          </div>
          <div class="tab-rightshop">
            <span>沉香琴苑</span>
            <span>进店></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
