<ion-view view-title="精选提琴">
  <ion-content class="tab-firstnav">
    <div class="tab-content1" ng-repeat="x in shoptq2">
      <div class="tab-firstbox">
        <div class="tab-left">
          <a href="#/tab/nextshop/{{x.id}}/shoptq"><img ng-src="{{x.pho}}" alt="">
            <div class="tab-right">
              <div class="tab-rightheader">
                {{x.til}}
              </div>
              <div class="tab-rightprice">
                <span>{{x.yuna}}</span>
                <img ng-src="{{x.carimg}}" alt="">
              </div>
              <div class="tab-rightshop">
                <span>{{x.dianpu}}</span>
                <span>进店></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

