<<ion-view view-title="{{data.name}}详情">
  <ion-content>
    <div class="tab-secondbox">
      <div class="tab-header">
        <img ng-src="{{data.pho}}" alt="">
        <p class="icon ion-cube">{{data.jianjie}}</p>
      </div>
      <div class="tab-firstcontent">
        <span>￥{{data.yuan}}</span>
        <span>{{data.til}}</span>
      </div>
      <ul class="tab-secondcontent">
        <a href=""><li class="ion-ios-checkmark-outline">极速送货</li></a>
        <a href=""><li class="ion-ios-checkmark-outline">质量上乘</li></a>
        <a href=""><li class="ion-ios-checkmark-outline">优质服务</li></a>
        <li class="icon ion-chevron-right"></li>
      </ul>
      <ul class="tab-thirdcontent">
        <li class="ion-android-map">
          <span>店铺优惠卷</span>
          <span>领取优惠券</span>
        </li>
        <li class="ion-android-map">
          <a href=""><span>积分</span></a>
          <a href=""><span>购买可得50积分</span></a>
        </li>
        <li class="ion-android-map">
          <a href="">选择类型</a>
        </li>
        <li class="ion-android-map"><a href="">产品详情</a></li>
      </ul>
      <ul class="tab-secondfooter">
        <li><a href="">店铺</a></li>
        <li><a href="">客服</a></li>
        <li><a href="">收藏</a></li>
        <li class="Afirst">
          <a href="">加入购物车</a>
        </li>
        <li class="Asecond">
          <a class="ion-android-cart"></a>
        </li>
      </ul>
    </div>
    <div class="shop-mengban">
      <div class="mengban-one">
        <p>店铺优惠券</p>
        <div class="shop-juan">
          <div class="juan-left">
            <p class="qian">￥<span>10</span></p>
            <p>满500使用</p>
            <p>有效期：2天</p>
          </div>
          <div class="juan-right">
            <p>立即领取</p>
          </div>
        </div>
      </div>
      <span class="quan-success">完成</span>
    </div>
    <script>
      var mengban = document.getElementsByClassName('shop-mengban');
      var quan = document.getElementsByClassName('ion-android-map');
      var shopSucs = document.getElementsByClassName('quan-success');
      var lingqu = document.getElementsByClassName('juan-right');

      quan[0].onclick = function () {
        mengban[0].style.top = '0';
        shopSucs[0].style.display = 'inline-block'
      }
      lingqu[0].onclick = function () {
        alert('领取成功');
      }
      shopSucs[0].onclick = function () {
        mengban[0].style.top = '110%';
        shopSucs[0].style.display = 'none'
      }
    </script>
  </ion-content>
</ion-view>
