<ion-view view-title="优雅古琴">
  <ion-content class="tab-firstnav">
    <div class="tab-content1">
      <div class="tab-firstbox">
        <a href="#/tab/nextshop">
          <div class="tab-left">
            <img src="../img/guqin1.jpg" alt="">
            <div class="tab-right">
              <div class="tab-rightheader">
                精美古琴
              </div>
              <div class="tab-rightprice">
                <span>￥8888</span>
                <img src="../img/shop.jpg" alt="">
              </div>
              <div class="tab-rightshop">
                <span>沉香琴苑</span>
                <span>进店></span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="tab-content1">
      <div class="tab-firstbox">
        <a href="#/tab/nextshop">
          <div class="tab-left">
            <img src="../img/guqin2.jpeg" alt="">
            <div class="tab-right">
              <div class="tab-rightheader">
                精美古琴
              </div>
              <div class="tab-rightprice">
                <span>￥8888</span>
                <img src="../img/shop.jpg" alt="">
              </div>
              <div class="tab-rightshop">
                <span>沉香琴苑</span>
                <span>进店></span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="tab-content1">
      <div class="tab-firstbox">
        <a href="#/tab/nextshop">
          <div class="tab-left">
            <img src="../img/guqin3.jpg" alt="">
            <div class="tab-right">
              <div class="tab-rightheader">
                精美古琴
              </div>
              <div class="tab-rightprice">
                <span>￥8888</span>
                <img src="../img/shop.jpg" alt="">
              </div>
              <div class="tab-rightshop">
                <span>沉香琴苑</span>
                <span>进店></span>
              </div>
            </div>

          </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
