<ion-view view-title="关于我们">
  <ion-content>
    <ion-list>
      <div class="list">
        <label class="item item-input">
          <div class="input-label">
            <a href="#/tab/func-int/{{int}}">功能介绍</a>
          </div>
        </label>


        <label class="item item-input item-select">
          <div class="input-label">
            反馈
          </div>
          <select>
            <option>谢谢您的支持！</option>
            <option>如有问题，请拨打0371-012345678</option>
          </select>
        </label>

      </div>

    </ion-list>
  </ion-content>
</ion-view>
